@use "variables" as *;
@use "mixins" as *;

.about {
    background-color: $tertiaryColour;
    padding: 100px 30px;
    margin: 100px 0 50px;
    &::before {
        content: "";
        margin: -30px;
        width: 0;
        height: 0;
        border-top: 100px solid $secondaryColour;
        border-right: 1000px solid transparent;
    }
}

.aboutFlex {
    margin-top: 50px;
    @include flex(row, nowrap, center, center)
}

.aboutText {
    margin-right: 70px;
    width: calc(70% - 40px);
}

.aboutPic {
    width: calc(30% - 40px);
    -webkit-box-shadow: 25px -18px 0px 5px $secondaryColour;
    box-shadow: 25px -18px 0px 5px $secondaryColour;
}