// COLOURS:
$primaryColour: #0B0029;
$secondaryColour: #E56F6F;
$tertiaryColour: #FFF1F1;
$fontColourDark: #0B0029;
$fontColourLight: #FFF1F1;
$whiteColour: #FFF;
$blackColour: #000;

// FONTS:
$mainFont: "beVietnamPro";
$accentFont: "alata";